@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* Colors */

$dark-gray: #343434;
$super-light-gray: #DCE1DA;
$white-cream: #F2F4F1;
$orange: #E0752F;
$white: #FFFFFF;
$light-gray: #5F6368;

/* Font Family */
$roboto: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$poppins: 'Poppins', sans-serif;

/* Font Style */
$fs-normal: normal;

/* Font Weight */
$fw-600: 600px;
$fw-normal: normal;
$fw-medium: medium;

/* Background */

$background-double-color: linear-gradient(90deg, $white-cream 70%, $super-light-gray 30%);

/* Font Size */
$fsz-16: 16px;
$fsz-39: 39px;
$fsz-48: 48px;

/* Letter spacing */
$ls-0-22: 0.22px;
$ls-0-55: 0.55px;
$ls-0-67: 0.67px;

/* Line Spacing */
$line-s-21: 21px;
$line-s-28: 28px;
$line-s-45: 45px;
$line-s-48: 48px;