#services {
    @include container;
    background-image: url(../../img-pin/section4-image.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.accordion-sect4 {
    width: 50%;
    align-self: center;
    margin-left: 100px;
}

.accordion-item {
    border: 1px solid #E3E3E3
}
.accordion-button {
    @include style-2;
    color: #5F6368;
    font-weight: bold;
}

.accordion-body {
    @include style-1;
    color: #5F6368;
}
.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
}
//Media Queries

@media screen and (max-width: 640px) {
    #services {
      height: auto;
      padding: 50px 40px;
      background: none;
      background-color: #fff;
      opacity: 0.8;
      background: linear-gradient(135deg, #e0752f55 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(225deg, #e0752f 25%, transparent 25%) -11px 0/ 22px 22px, linear-gradient(315deg, #e0752f55 25%, transparent 25%) 0px 0/ 22px 22px, linear-gradient(45deg, #e0752f 25%, #fff 25%) 0px 0/ 22px 22px;
    }
    
    .accordion-sect4{
        margin: 0;
        width: 100%;
    }

  }

@media screen and (min-width: 640px) and (max-width: 1000px) {
    #services {
        background-size: cover;
        background-position: left center;
        background-repeat: no-repeat;
    }
    .accordion-sect4 {
        width: 80%;
        align-self: flex-start;
        margin: 50px 0 0 50px;
    }
  }